/* new */
.product-category-page {
    .container {
        display: flex;
        box-sizing: border-box;
        //padding: 0 30px 0;
        height: 100%;
    }
    .tabs {
        margin-top: 24px;
        .el-tabs__header {
            width: 220px;

            .el-tabs__item.is-left {
                height: 44px;
                color: rgba(0, 0, 0, 0.65);
                text-align: left;
                font-weight: 400;
                line-height: 44px;
                &.is-active {
                    background: #e7f7ff;
                    color: #1890ff;
                }
            }
        }
    }
    .content {
        flex: 1;
        .add-btn {
            margin-left: auto;
        }
    }
    .el-table td:first-child > .cell,
    .el-table th:first-child > .cell {
        padding-left: 24px !important;
    }
    .handle-box {
        /*margin-bottom: 20px;*/
        float: left;
    }

    .btn-right {
        float: right;
    }
    .handle-select {
        width: 100%;
    }

    .handle-input {
        display: inline-block;
        width: 180px;
    }
    .table {
        width: 100%;
        font-size: 14px;
    }
    .mr10 {
        margin-right: 10px;
    }
    .m-t-16 {
        margin-top: 16px;
    }
    .p-t-0 {
        padding-top: 0;
    }
    .table-td-thumb {
        display: block;
        margin: auto;
        width: 40px;
        height: 40px;
    }
    .input-title {
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
    }
    .pos-relative {
        top: 0;
        left: 0;
    }

    .demo-table-expand {
        font-size: 0;
    }
    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }
    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }
    .el-button + .el-button {
        //margin-left: 20px;
    }
    .m-r-20 {
        margin-right: 20px !important;
    }
    .m-l-0 {
        margin-left: 0 !important;
    }
    .message-delete {
        width: 340px;
    }
    .el-form-item__error {
        //margin-top: 8px;
    }
    .child-line {
        color: rgba(216, 216, 216, 1);
    }
    .marginRight10 {
        margin-right: 10px;
    }
    /*树形表格打开关闭图标*/
    .el-table__expand-icon {
        color: rgba(24, 144, 255, 1);
        .el-icon-arrow-right:before {
            content: '\e7a0';
        }
    }
    .el-table__expand-icon--expanded {
        color: #666;
        transform: rotate(0);
        .el-icon-arrow-right:before {
            content: '\e7a2';
        }
    }
    .avatar-uploader .el-upload {
        position: relative;
        overflow: hidden;
        width: 160px;
        height: 160px;
        border: 1px dashed #d9d9d9;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.04);
        cursor: pointer;
    }
    .avatar-uploader .el-upload:hover {
        //border-color: #409eff;
    }
    .avatar-uploader-icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #8c939d;
        text-align: center;
        font-size: 28px;
        .avatar-wrap {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 46px;
            height: 46px;
        }
        img {
            display: block;
            width: 36px;
            height: 36px;
            vertical-align: bottom;
        }
        .add-img-text {
            display: inline-block;
            padding-top: 20px;
            color: rgba(0, 0, 0, 0.65);
            font-weight: 400;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            line-height: 22px;
        }
    }
    .avatar {
        display: block;
        width: 160px;
        height: 160px;
        border-radius: 2px;

        object-fit: cover;
    }
    .magnifier-box {
        position: absolute;
        right: 7px;
        bottom: 7px;
        z-index: 5;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 2px 0 2px 0;
        background: rgba(0, 0, 0, 0.2);
        .magnifier-img {
            display: inline-block;
            width: 36px;
            height: 36px;
            vertical-align: bottom;
        }
        .small-img {
            width: 100%;
            height: 100%;
            //opacity: 0.5;
            .el-icon-circle-close {
                color: #000;
            }
            .el-image-viewer__img {
                width: 640px;
            }
        }
    }
    .el-dialog__body {
        padding: 40px 24px 0 24px !important;
    }
    .el-form-item--mini.el-form-item,
    .el-form-item--small.el-form-item {
        margin-bottom: 40px;
    }
    .product-img {
        display: inline-block;
        width: 80px;
        height: 60px;
        vertical-align: bottom;
        cursor: pointer;

        object-fit: cover;
    }
}

.sku-table {
    box-sizing: border-box;
    margin: 0px 0 0 152px;
    max-width: calc(100% - 152px);
}
.product-category-page .table .el-table__expanded-cell {
    padding: 0 !important;
}
