html {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}
.head-container {
    margin-bottom: 16px;
    padding: 30px;
    background-color: #fff;
    .filter-item {
        // display: inline-block;
        margin: 0 3px 10px 0;
        vertical-align: middle;
        input {
            width: 200px;
            height: 30.5px;
            line-height: 30.5px;
        }
    }
    .el-button + .el-button {
        margin-left: 10px !important;
    }
    .el-select__caret.el-input__icon.el-icon-arrow-up {
        line-height: 30.5px;
    }
    .date-item {
        display: inline-block;
        margin-bottom: 10px;
        width: 223px !important;
        height: 30.5px;
        vertical-align: middle;
    }
}
.pagination-container {
    padding: 60px 0 47px;
    background-color: #fff;
}
.table-title {
    display: flex;
    align-items: center;
    height: 62px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    .line {
        margin: 0 8px 0 20px;
        width: 4px;
        height: 16px;
        border-radius: 2px;
        background: #1890ff;
    }
}

// 颜色

.text-red {
    color: #ff4d4f;
}
.text-yellow {
    color: #faad14;
}
.text-blue {
    color: #1890ff;
}
.text-green {
    color: #52c41a;
}
.text-purple {
    color: #8318ff;
}

.dot-grey {
    background: rgba(0, 0, 0, 0.25);
}
.dot-red {
    background: #ff4d4f;
}
.dot-yellow {
    background: #faad14;
}
.dot-blue {
    background: #1890ff;
}
.dot-green {
    background: #52c41a;
}
.dot-purple {
    background: #8318ff;
}
